@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.source-sans-3-uniquifier {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body {
  /* max-width: 2100px; */
  /* padding: 0 1rem; */
  margin: 0 auto;
  --bg-color: #eff3f6;
  --primary-color: #4d565f;
  --secondary-color: #7b9bb4;
  --accent-darkest: #6e808e;
  --accent-dark: #b5c0c6;
  --accent-light: #e4ebf1;
  --accent-lightest: #eff2f9;
  background-color: var(--bg-color);
  color: var(--primary-color);
  font-family: "Source Sans 3", "Segoe UI", sans-serif;
}

.header {
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 4rem;
}

.header > h1 {
  color: var(--secondary-color);
  letter-spacing: -1px;
  font-size: 2.5rem;
  font-weight: 600;
}

.header > p {
  color: #6c7a86;
  letter-spacing: -1px;
  font-size: 1.1rem;
  font-weight: 400;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--accent-light);
  color: var(--accent-darkest);
  padding: 0.5rem;
}

.logo {
  line-height: 1.1rem;
}

.logo > span {
  font-size: 0.9rem;
  letter-spacing: -0.04rem;
}

.logo > p > strong {
  font-weight: 600;
  font-size: 1.15rem;
}

.action-btn {
  padding: 4px 15px;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  color: var(--accent-darkest);
  background: var(--accent-lightest);
  box-shadow: 1px 1px 4px rgba(179, 182, 185, 0.8), -5px -5px 25px #ffffff;
  border-radius: 18px;
  margin-left: 0.3rem;
}

.action-btn > p > strong {
  font-weight: 600;
}

.content-wrapper {
  display: flex;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-columns: 2fr 0.01fr 3fr;
  gap: 3rem;
  margin: 0 1rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* max-width: 500px; */
}

#shippingForm {
  /* width: 100%; */
  /* max-width: 500px; */
  justify-self: end;
  /* margin-right: 2rem; */
}

.address-and-packaging {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  /* gap: 50px; */
}

.sub-heading {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--secondary-color);
  color: var(--accent-darkest);
  margin-bottom: 0.5rem;
  /* margin-left: -15px; */
}

.sub-heading > h2 {
  font-weight: 350;
  font-size: 1.7rem;
}

.long-input-field {
  display: flex;
  flex-direction: column;
}

.three-cols {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

label {
  font-size: 1rem;
  color: var(--primary-color);
  font-weight: 450;
  margin-bottom: 1px;
}

input {
  background-color: #fcfcfc;
  color: #575e64;
  border: #6c7a86 0.3px solid;
  border: none;
  border-radius: 2px;
  padding: 4px 10px;
  font-size: 1.1rem;
  margin-bottom: 0.8rem;
  background: #eff2f9;
  box-shadow: inset 2px 2px 3px rgba(22, 27, 29, 0.23),
    inset -3px -3px 4.2px #fcfaff;
  border-radius: 3px;
  box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;
}

input:focus {
  border: none;
  outline: none;
  box-shadow: inset 4px 4px 4px #d1d9e6, inset -4px -4px 4px #f9f9f9;
}

.short-input-field {
  display: flex;
  flex-direction: column;
  max-width: 180px;
  background: #eff2f9;
}

.package-specs {
  margin-top: 2rem;
}

.save-address-btn {
  color: var(--accent-darkest);
  cursor: pointer;
  width: 100%;
  text-align: right;
  font-size: 0.9rem;
  font-weight: 500;
}

.saved-addresses-list-wrapper {
  display: flex;
  gap: 0.6rem;
  margin-bottom: 0.5rem;
  flex-wrap: wrap;
}

.saved-addresses-list-wrapper > li {
  list-style: none;
  /* border: #6c7a86 0.3px solid; */
  padding: 4px 15px;
  border-radius: 1rem;
  cursor: pointer;
  background: var(--accent-lightest);
  box-shadow: 1px 1px 4px rgba(179, 182, 185, 0.8), -5px -5px 25px #ffffff;
  border-radius: 18px;
}

.saved-addresses-list-wrapper > li:hover {
  box-shadow: 0px 1px 3px rgba(3, 7, 18, 0.08),
    0px 4px 11px rgba(3, 7, 18, 0.05), 0px 10px 24px rgba(3, 7, 18, 0.03);
}

.btns-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  margin-top: 1.5rem;
}

/* #submit-btn {
  color: var(--accent-darkest);
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border: none;
  font-size: 1.1rem;
  transition: all ease 200ms;
  background: #e4ebf1;
  box-shadow: 2px 2px 6.9px #b3b6b9, -5px -5px 25px #ffffff;
  border-radius: 2rem;
} */

#submit-btn:hover,
.cta-submit-btn:hover,
.key-cta:hover {
  color: var(--accent-lightest);
  box-shadow: 0px 1px 1px rgba(3, 7, 18, 0.08), 0px 5px 4px rgba(3, 7, 18, 0.06),
    0px 12px 9px rgba(3, 7, 18, 0.05), 0px 20px 15px rgba(3, 7, 18, 0.03),
    0px 32px 24px rgba(3, 7, 18, 0.02);
  box-shadow: 5px 5px 6.9px #b3b6b9, -10px -10px 25px #ffffff;
  box-shadow: 2px 2px 6.9px #6a6a6a, -5px -5px 25px #ffffff;
}

.cta-submit-btn {
  color: var(--accent-darkest);
  padding: 0.4rem 1.2rem;
  cursor: pointer;
  /* border: 1px solid #4d565f; */
  border: none;
  font-size: 1.1rem;
  transition: all ease 200ms;
  background: #e4ebf1;
  color: var(--accent-lightest);
  background: #7b9bb4;
  box-shadow: 2px 2px 6.9px #b3b6b9, -5px -5px 25px #ffffff;
  border-radius: 2rem;
}

#fetch-message {
  margin-top: 0.8rem;
}

.key-cta {
  padding: 0.5rem 1rem;
  border: 1px solid #4d565f;
  border-radius: 2rem;
  cursor: pointer;
}

.key-cta > p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fbf9ee;
  background-color: var(--accent-lightest);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  position: relative;
  border-radius: 5px;
}

.modal-content > h2 {
  font-weight: 350;
  font-weight: 550;
  font-size: 1.7rem;
  color: #007bff;
  color: var(--accent-darkest);
  font-size: 1.8rem;
  margin-bottom: 1rem;
  font-weight: 350;
  font-size: 1.7rem;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 1rem;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.save-modal-btn {
  margin-top: 1rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  padding: 0.3rem 1rem;
  border: none;
  font-size: 1.1rem;
  transition: all ease 200ms;
  color: var(--accent-lightest);
  background: #7b9bb4;
  box-shadow: 2px 2px 6.9px #b3b6b9, -5px -5px 25px #ffffff;
}

.save-modal-btn:hover {
  box-shadow: 0px 1px 3px rgba(3, 7, 18, 0.08),
    0px 4px 11px rgba(3, 7, 18, 0.05), 0px 10px 24px rgba(3, 7, 18, 0.03);
  color: var(--accent-lightest);
  box-shadow: 5px 5px 6.9px #b3b6b9, -10px -10px 25px #ffffff;
  box-shadow: 2px 2px 6.9px #818181, -5px -5px 25px #ffffff;
}

/* .input-field {
  margin-bottom: 10px;
} */

.input-field label {
  display: block;
}

.input-field input {
  width: 100%;
  padding: 5px;
}

.info-icon {
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  background-color: #7b9bb4;
  color: var(--accent-lightest);
  font-size: 14px;
  text-decoration: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;
}

.info-icon > span {
  font-size: 14px;
}

.custom-address-wrapper {
  display: flex;
  margin-bottom: 1rem;
}

#customDeliveryAddressForm {
  display: flex;
  align-items: flex-start;
}

.customDeliveryAddressForm {
  display: flex;
  /* max-width: 550px; */
  flex-direction: column;
}

.divider {
  height: 85%;
  width: 1px;
  background-color: var(--accent-dark);
  margin-top: 2rem;
  /* margin: auto; */
}

.table-rates-results {
  /* max-width: 500px; */
  max-width: 100%;
}

/* label {
  font-size: 1rem;
  color: #4d565f;
  font-weight: 400;
}

input {
  background-color: #fcfcfc;
  color: #575e64;
  color: red;
  border: #6c7a86 0.3px solid;
  border: none;
  border-radius: 2px;
  padding: 4px 8px;
  font-size: 1.1rem;
  margin-top: 2px;
  margin-bottom: 10px;
  border-radius: 50px;
  background: #eff2f9;
  box-shadow: 5px 5px 10px #9b9da2, -5px -5px 10px #ffffff;
} */

.state-wrapper {
  margin-bottom: 3rem;
}

.state-wrapper > h3 {
  font-weight: 450;
  font-size: 1.5rem;
  color: #007bff;
  color: var(--secondary-color);
  color: var(--accent-darkest);
}

.zone-and-postcode {
  display: flex;
  gap: 5px;
  align-items: center;
}

.zone-and-postcode > h5 {
  font-weight: 650;
  font-size: 1.2rem;
  color: #444;
  color: #4d565f;
}

.zone-and-postcode > p {
  font-weight: 450;
  font-size: 0.9rem;
  color: #4d565ffd;
}

.zone-and-postcode > span {
  font-weight: 450;
  font-size: 1rem;
  color: #4d565ffd;
  cursor: pointer;
}

.result-rates {
  margin-left: 2rem;
  /* font-size: 1.1rem; */
  color: #3d3d3d;
  margin-bottom: 1.5rem;
}

.results-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-columns: 1fr 1fr; */
}

@media only screen and (max-width: 2000px) {
  .results-container {
    grid-template-columns: 1fr 1fr;
    margin: 0 1rem;
    gap: 1rem;
  }
}

@media only screen and (max-width: 1750px) {
  .content-wrapper {
    display: flex;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-columns: 2fr 0.01fr 3fr;
    gap: 3rem;
    margin: 0 1rem;
  }
  .results-container {
    grid-template-columns: 1fr 1fr;
    margin: 0 1rem;
    gap: 1rem;
  }

  .custom-address-wrapper {
    flex-direction: column;
    gap: 2rem;
  }
}

@media only screen and (max-width: 1555px) {
  .content-wrapper {
    display: flex;
    flex-direction: column;
  }

  /* switch to vertical layout */
  #shippingForm {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 572px;
    margin: auto;
  }

  .divider {
    height: 1px;
    width: 90%;
    margin: auto;
  }

  .sub-heading {
    max-width: 572px;
    margin: 0.5rem auto;
  }

  .saved-addresses {
    max-width: 572px;
    margin: 0.5rem auto;
  }

  .results-container {
    grid-template-columns: 1fr 1fr;
    margin: 0 1rem;
    gap: 1rem;
  }

  .custom-address-wrapper {
    flex-direction: column;
    gap: 2rem;
    max-width: 572px;
    margin: auto;
  }
}

@media only screen and (max-width: 830px) {
  .results-container {
    grid-template-columns: 1fr;
    max-width: fit-content;
    max-width: 572px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }

  .state-wrapper {
    margin-bottom: 1rem;
  }
}
